body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }

  .pageLayout {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 40px 0 0;
  }
  
  
  .cardsLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 40px;
  }
  
  .card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 270px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: scale(1.03); /*bigger*/
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* more shadow */
  }

  .reviewCard {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width:650px;
    align-self: flex-end;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .reviewCard:hover {
    transform: scale(1.03); /*bigger*/
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* more shadow */
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #222;
  }
  
  .card .watch-date {
    font-size: 13px;
    color: #666;
    margin: 0 0 8px;
  }
  
  .card .rating {
    font-weight: bold;
    color: #e67e22;
    margin-bottom: 6px;
  }
  
  .reviewCard .review {
    font-style: italic;
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    text-indent: 2em;
  }

  .screenshotScroller {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    scroll-behavior: smooth;
    align-self: flex-start;
  }
  
  .screenshotScroller img {
    height: 120px;
    border-radius: 6px;
    flex-shrink: 0;
  }

  .tagPlaceholder {
    height: 135px; 
  }

  .tag_review_layout {
    position: relative;
    width: fit-content;
  }
  

  .tagBoxCard {
   
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 90px;
    background-color: white;
   
    border-radius: 10px;
    display: flex;
    gap: 8px;
    
    
  }

  .tag {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }

  .genre-sci-fi {
    background-color: #4CAF50;
  }
  .genre-thriller {
    background-color: #9C27B0;
  }
  .genre-romance {
    background-color: #E91E63;
  }
  .genre-comedy {
    background-color: #FF9800;
  }
  .genre-crime {
    background-color: #03A9F4;
  }
  
  
  
  